In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('Ads_Optimisation.csv')

In [4]:
df.head()

   Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0     1     0     0     0     1     0     0     0     1      0
1     0     0     0     0     0     0     0     0     1      0
2     0     0     0     0     0     0     0     0     0      0
3     0     1     0     0     0     0     0     1     0      0
4     0     0     0     0     0     0     0     0     0      0

In [6]:
import random
N = 10000
d = 10
ads_selected = []
total_reward = 0
for i in range(0, N):
    ad = random.randrange(d)
    ads_selected.append(ad)
    reward = df.values[i,ad]
    total_reward = total_reward +reward

In [9]:
pd.Series(ads_selected).tail(1000).value_counts(normalize = True)

9    0.110
8    0.109
3    0.104
1    0.103
0    0.102
5    0.099
6    0.095
2    0.095
7    0.094
4    0.089
dtype: float64

In [32]:
import math
N = 10000
d = 10
ads_selected = []
numbers_of_selections = [0] * d
sums_of_reward = [0] * d
total_reward = 0
#reward_100 = 0
for n in range(0, N):
    ad = 0
    max_upper_bound = 0
    for i in range(0, d):
        if (numbers_of_selections[i] > 0):
            average_reward = sums_of_reward[i] / numbers_of_selections[i]
            delta_i = math.sqrt(2 * math.log(n+1) / numbers_of_selections[i])
            upper_bound = average_reward + delta_i
        else:
            upper_bound = 1e400
        if upper_bound > max_upper_bound:
            max_upper_bound = upper_bound
            ad = i
    ads_selected.append(ad)
    numbers_of_selections[ad] += 1
    reward = df.values[n, ad]
    sums_of_reward[ad] += reward
    total_reward += reward
    reward_100 += reward
#    if n % 100 == 0:
#        print(reward_100/100)
#        reward_100 = 0

0.01
0.14
0.19
0.06
0.1
0.16
0.07
0.18
0.2
0.11
0.16
0.21
0.23
0.16
0.2
0.31
0.2
0.17
0.15
0.08
0.18
0.28
0.29
0.23
0.21
0.25
0.15
0.11
0.18
0.21
0.18
0.22
0.19
0.14
0.21
0.23
0.24
0.18
0.26
0.18
0.25
0.29
0.28
0.16
0.2
0.19
0.3
0.21
0.31
0.32
0.21
0.21
0.18
0.18
0.31
0.19
0.13
0.19
0.16
0.18
0.32
0.27
0.19
0.21
0.18
0.17
0.19
0.24
0.22
0.21
0.17
0.23
0.18
0.14
0.31
0.22
0.16
0.21
0.21
0.27
0.28
0.3
0.21
0.16
0.24
0.22
0.31
0.29
0.17
0.23
0.28
0.31
0.21
0.25
0.24
0.3
0.18
0.2
0.27
0.33

In [24]:
pd.Series(ads_selected).tail(1000).value_counts(normalize = True)

4    0.771
0    0.106
7    0.034
3    0.034
2    0.026
6    0.007
1    0.007
8    0.006
9    0.005
5    0.004
dtype: float64

In [19]:
numbers_of_selections

[947, 417, 338, 380, 5630, 180, 435, 1106, 352, 215]

In [20]:
sums_of_reward

[176, 48, 31, 40, 1519, 1, 52, 217, 34, 7]