In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [9]:
df = pd.read_json('train.json')
corpus = []
for i in range (0,39774):
    ingredients = ' '.join(df['ingredients'][i])
    corpus.append(ingredients)

In [31]:
df.head()

       cuisine     id                                        ingredients
0        greek  10259  [romaine lettuce, black olives, grape tomatoes...
1  southern_us  25693  [plain flour, ground pepper, salt, tomatoes, g...
2     filipino  20130  [eggs, pepper, salt, mayonaise, cooking oil, g...
3       indian  22213                [water, vegetable oil, wheat, salt]
4       indian  13162  [black pepper, shallots, cornflour, cayenne pe...

In [34]:
df['cuisine'].value_counts()

italian         7838
mexican         6438
southern_us     4320
indian          3003
chinese         2673
french          2646
cajun_creole    1546
thai            1539
japanese        1423
greek           1175
spanish          989
korean           830
vietnamese       825
moroccan         821
british          804
filipino         755
irish            667
jamaican         526
russian          489
brazilian        467
Name: cuisine, dtype: int64

In [36]:
df['target'] = df['cuisine'].map({'italian':0, 'mexican':1, 'southern_us':3, 'indian': 4,  'chinese':5, 'french':6,  'cajun_creole':7, 'thai':8, 'japanese':9, 'greek':10,   'spanish':11, 'korean':12,  'vietnamese':13,  'moroccan':14, 'british':15, 'filipino':16, 'irish':17, 'jamaican':18, 'russian':19, 'brazilian':20 })

In [37]:
#'italian':0, 'mexican':1, 'southern_us':3, 'indian': 4,  'chinese':5, 'french':6,  'cajun_creole':7, 'thai':8, 'japanese':9, 'greek':10,   'spanish':11, 'korean':12,  'vietnamese':13,  'moroccan':14, 'british':15, 'filipino':16, 'irish':17, 'jamaican':18, 'russian':19, 'brazilian':20

In [43]:
df.head()

,cuisine,id,ingredients,target
0,greek,10259,"[romaine lettuce, black olives, grape tomatoes...",10
1,southern_us,25693,"[plain flour, ground pepper, salt, tomatoes, g...",3
2,filipino,20130,"[eggs, pepper, salt, mayonaise, cooking oil, g...",16
3,indian,22213,"[water, vegetable oil, wheat, salt]",4
4,indian,13162,"[black pepper, shallots, cornflour, cayenne pe...",4

In [50]:
n=1000

In [51]:
from sklearn.feature_extraction.text import CountVectorizer

In [52]:
countvec = CountVectorizer(max_features=n)

In [53]:
X = countvec.fit_transform(corpus).toarray()

In [54]:
import tensorflow as tf
from tensorflow import keras

In [55]:
X.shape

(39774, 1000)

In [59]:
y=df['target'].values

In [76]:
model = keras.Sequential([keras.layers.Dense(n),
                         keras.layers.Dense(100, activation=tf.nn.relu),
                         keras.layers.Dense(100, activation=tf.nn.relu),
                         keras.layers.Dense(21, activation=tf.nn.softmax)])

In [77]:
model.compile(optimizer='adam', 
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

In [78]:
model.fit(X, y, epochs = 5)

Epoch 1/5
39774/39774 [==============================] - 17s 415us/sample - loss: 0.9369 - acc: 0.7258
Epoch 2/5
39774/39774 [==============================] - 16s 412us/sample - loss: 0.6979 - acc: 0.7894
Epoch 3/5
39774/39774 [==============================] - 17s 416us/sample - loss: 0.6118 - acc: 0.8128
Epoch 4/5
39774/39774 [==============================] - 17s 416us/sample - loss: 0.5442 - acc: 0.8280
Epoch 5/5
39774/39774 [==============================] - 16s 414us/sample - loss: 0.4906 - acc: 0.8443

In [64]:
df_test = pd.read_json('test.json')

In [66]:
df_test.head()

      id                                        ingredients
0  18009  [baking powder, eggs, all-purpose flour, raisi...
1  28583  [sugar, egg yolks, corn starch, cream of tarta...
2  41580  [sausage links, fennel bulb, fronds, olive oil...
3  29752  [meat cuts, file powder, smoked sausage, okra,...
4  35687  [ground black pepper, salt, sausage casings, l...

In [68]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9944 entries, 0 to 9943
Data columns (total 2 columns):
id             9944 non-null int64
ingredients    9944 non-null object
dtypes: int64(1), object(1)
memory usage: 155.5+ KB

In [69]:
corpus = []
for i in range (0,9944):
    ingredients = ' '.join(df_test['ingredients'][i])
    corpus.append(ingredients)

In [70]:
countvec = CountVectorizer(max_features=n)

In [71]:
X_test = countvec.fit_transform(corpus).toarray()

In [79]:
predictions = model.predict(X_test)

In [82]:
predictions[1]

array([6.5700809e-04, 4.4487897e-05, 7.0442754e-09, 1.7950240e-03,
       1.2839302e-05, 4.4044077e-01, 4.6253395e-01, 2.2730855e-03,
       1.3803722e-03, 7.8525404e-03, 8.0477484e-03, 1.2300832e-02,
       6.9909841e-03, 1.8113011e-02, 3.1507871e-04, 3.4713707e-04,
       1.1032361e-03, 3.2521435e-04, 2.5141274e-03, 3.2673627e-02,
       2.7889895e-04], dtype=float32)

In [81]:
np.argmax(predictions[1])

6